body{
    background-color: whitesmoke;
    margin: 0%;
}


header{
    color: #810000;
    background-color: #eeebdd ;
    height: 90px;
}

header nav{
    float: right;
    width: 50%;
    margin-top: 25px;
}

header h2{
    float: left; 
    margin-left: 25px;
    margin-top: 35px;
}

header nav ul li{
    display: inline-block;
    margin-left:3%;
}


header nav ul li a{
    color: #810000;
    text-decoration: none;
    font-weight: 800;
}

#first{
    background-color: #810000;
    
    height: 250px;
    text-align: center;
    margin: 0;
    font-weight: 900;
    color:#ccffbd;
}

#first h4{
    font-size: 35px;
    padding-top: 20px;
}

#first p{
    font-size: 25px;
}

#second{
    color: #630000 ;
    background-color: #b4a5a5;
    margin-bottom: 0px;
}

.image-container{
    text-align: center;
    display: inline-block;
    height: 450px;
    width: 30%;
    margin-left: 10px;
}
.image-container img{
    margin-bottom: 30px;
    height: 80%;
}

#second a{
    color: #630000 ;

}

footer{
    height: 100px;
    color:#810000; 
    background-color:#1b1717;
}
footer p{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: 800;
}